<h1><%= @user.name %>さんのページ</h1>
<% if @user.errors.any? %>
  <div id = "error_explanation">
    <h2><%= pluralize(@user.errors.count,"error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<table>
  <tr>
    <th><p>メールアドレス：</p></th>
    <td><p><%= @user.email %></p></td>
  </tr>
  <tr>
    <th><p>プロフィール画像:</p></th>
    <td><%= image_tag @user.image.url %></td>
  </tr>
  <tr>
    <th><p>プロフィール文:</p></th>
    <td><p><%= @user.profile %></p></td>
  </tr>
</table>
<%= link_to "プロフィール編集", edit_user_path(@user.id) if @user.id == current_user[:id] %>