<h1>投稿内容の変更</h1>
<% if @picture.errors.any? %>
  <div id = "error_explanation">
    <h2><%= pluralize(@picture.errors.count,"error") %> prohibited this <%= @picture %> from being saved:</h2>
    <ul>
    <% @picture.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @picture, local: true) do |f| %>
  <table>
    <tr>
      <th><%= f.label :title, "タイトル：" %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :content, "内容：" %></th>
      <td><%= f.text_field :content %></td>
    </tr>
    <tr>
      <th><%= f.label :content_picture, "画像：" %></th>
      <td><%= f.file_field :content_picture %></td>
    </tr>
  </table>
  <%= f.hidden_field :content_picture_cache %>
  <%= f.submit "修正" %>
<% end %>