<h1>投稿詳細</h1>
<div class = "content">
  <p>投稿者：<%= @users.find(@picture.user_id).name %></p>
  <h5>タイトル：<%= @picture.title %></h5>
  <%= image_tag @picture.content_picture.url %>
  <p>コメント：<%= @picture.content %></p>
  <%= link_to "修正", edit_picture_path(@picture.id) if @picture.user_id == current_user.id %>
  <%= link_to "削除", picture_path(@picture.id), method: :delete, data: { confirm: '削除しますか？' } if @picture.user_id == current_user.id %>
  <% unless @picture.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to 'お気に入り解除', favorite_path(id: @favorite.id), method: :delete %>
    <% else %>
      <%= link_to 'お気に入り登録', favorites_path(picture_id: @picture.id), method: :post %>
    <% end %>
  <% end %>
</div>
<%= @picture.content_picture_cache %>